@use "../../../../styles/abstracts/colors" as colors;

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid colors.$color-dark-grey;
    border-radius: 10px;
    background-color: colors.$color-dark-black;
}

.search-input {
    border: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: colors.$color-light-white;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {  
    color: colors.$color-dark-grey;
}

.active-context-select {
    height: 100%;
    margin: 10px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    color: colors.$color-light-white;
    
}