.relics-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;

  .missions-drops-header {
    margin-bottom: 1rem;
  } 
}

.multiselect-rarities {
  width: 250px;
}

.multiselect-relic-tiers {
  width: 250px;
}

.multiselect-mission-types {
  width: 250px;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 73%;
  height: 100px;
  margin: 0 auto;
}

.missions-drops-component{
    margin-bottom: 30px;
}