// SCSS variables (for use in .scss files)
$color-lighter-white: #F0FFFF;
$color-light-white: #E1E1E1;

$color-light-grey: #949693;
$color-dark-grey: #5C605A;
$color-darker-grey: #3D413A;

$color-dark-black: #222421;
$color-darker-black: #161815;

$color-lighter-green:#e1ffe5;
$color-light-green:#9ef9c7;
$color-dark-green:#49de80;

// CSS custom properties (for use in TS / runtime)
:root {
    --color-lighter-white: #F0FFFF;
    --color-light-white: #E1E1E1;
    
    --color-light-grey: #949693;
    --color-dark-grey: #5C605A;
    --color-darker-grey: #3D413A;
     
    --color-dark-black: #222421;
    --color-darker-black: #161815;

    --color-lighter-green:#e1ffe5;
    --color-light-green:#9ef9c7;
    --color-dark-green:#49de80;
}