@if (drops.length > 0) {
  <p-table
    [scrollable]="true"
    [resizableColumns]="true"
    [value]="drops"
    size="small"
    showGridlines="true">
    <ng-template #header>
      <tr>
        <th pResizableColumn>Name</th>
        <th pResizableColumn>Type</th>
        <th pResizableColumn>Enemy</th>
        <th pResizableColumn>Drop Rate</th>
        <th pResizableColumn>Rarity</th>
      </tr>
    </ng-template>
    <ng-template #body let-drop>
      <tr>
        <td>{{ drop.name | titlecase }}</td>
        <td>{{ drop.type | titlecase }}</td>
        <td>{{ drop.enemyName | titlecase }}</td>
        <td>{{ drop.dropRate | number: '1.2-2' }}%</td>
        <td>{{ drop.rarity | titlecase }}</td>
      </tr>
    </ng-template>
    @if (hasMore) {
      <ng-template #footer>
        <tr>
          <td colspan="5" style="text-align: center;">
            <p-button
              icon="pi pi-arrow-circle-down"
              [rounded]="true" [text]="true"
              [loading]="loading"
              size="large"
              (onClick)="loadMore.emit()"
            />
          </td>
        </tr>
      </ng-template>
    }
  </p-table>
} @else {
  <p>No enemy drops found.</p>
}

