@if (drops.length > 0) {
  <p-table
    [scrollable]="true"
    [rows]="20"
    [resizableColumns]="true"
    [value]="drops"
    size="small"
    [lazy]="true"
    showGridlines="true"
  >
    <ng-template #header>
      <tr>
        <th pResizableColumn>Name</th>
        <th pResizableColumn>Part Type</th>
        <th pResizableColumn>Relic</th>
        <th pResizableColumn>Rarity</th>
        <th pResizableColumn>Refinement</th>
        <th pResizableColumn>Drop Rate</th>
      </tr>
    </ng-template>
    <ng-template #body let-drop>
      <tr>
        <td>{{ drop.name | titlecase }}</td>
        <td>{{ drop.partType | titlecase }}</td>
        <td>{{ drop.relicTier + ' ' + drop.relicCode | titlecase }}</td>
        <td>{{ drop.rarity | titlecase }}</td>
        <td>{{ drop.refinement | titlecase }}</td>
        <td>{{ drop.dropRate | number: '1.2-2' }}%</td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <p>No relic drops found.</p>
}
