@if (drops.length > 0) {
  <p-table [value]="drops">
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Part Type</th>
        <th>Relic Tier</th>
        <th>Relic Code</th>
        <th>Drop Rate</th>
        <th>Rarity</th>
      </tr>
    </ng-template>
    <ng-template #body let-drop>
      <tr>
        <td>{{ drop.name }}</td>
        <td>{{ drop.type }}</td>
        <td>{{ drop.partType }}</td>
        <td>{{ drop.relicTier }}</td>
        <td>{{ drop.relicCode }}</td>
        <td>{{ drop.dropRate | number: '1.2-2' }}%</td>
        <td>{{ drop.rarity }}</td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <p>No relic drops found.</p>
}
