@if (drops.length > 0) {
  <p-table [value]="drops" size="small" showGridlines="true">
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Part Type</th>
        <th>Relic</th>
        <th>Rarity</th>
        <th>Drop Rate</th>
      </tr>
    </ng-template>
    <ng-template #body let-drop>
      <tr>
        <td>{{ drop.name | titlecase }}</td>
        <td>{{ drop.partType | titlecase }}</td>
        <td>{{ drop.relicTier + ' ' + drop.relicCode | titlecase }}</td>
        <td>{{ drop.rarity | titlecase }}</td>
        <td>{{ drop.dropRate | number: '1.2-2' }}%</td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <p>No relic drops found.</p>
}
