@use '../../../../styles/abstracts/colors' as colors;

:host {
  --p-datatable-header-cell-border-color: #{colors.$color-dark-grey};
  --p-datatable-body-cell-border-color: #{colors.$color-dark-grey};
}

.load-more-cell {
  text-align: center;
}
