@use '../../../styles/abstracts/colors' as colors;

.prime-parts-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;

  .prime-parts-header {
    margin-bottom: 1rem;
  }
}

.multiselect-rarities {
  width: 250px;
}

.multiselect-relic-tiers {
  width: 250px;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 73%;
  height: 100px;
  margin: 0 auto;
}
